@import 'bootstrap';
@import'navbar.css';
@import 'header.css';
@import'card.css';
@import'login.css';
@import'carousel.css';
@import'search_button.css';
@import'category.css';
@import'create-article.css';
@import'submit.css';
@import'button.css';
@import "/node_modules/flag-icons/css/flag-icons.min.css";
@import 'article-create-form.css';


body {
    font-family: 'Belleza', sans-serif;
    background-color: black;
   



}

main {
    min-height: 100vh;



}

.img-container{
    width: 200px;
    height: 60px;
    text-align: center
}
.img-container img{
    width: 150px;
    position: relative;
    bottom: 48px;
}