@import 'bootstrap';
@import'navbar.css';
@import 'header.css';
@import'card.css';
@import'login.css';
@import'carousel.css';
@import'search_button.css';
@import'category.css';
@import'create-article.css';
@import'submit.css';
@import'button.css';

body {
    font-family: 'Belleza', sans-serif;
    background-color: black;



}

main {
    min-height: 90vh;



}